@import "tailwindcss";

@theme {
  --color-primary: #7F77DD;
  --color-primary-dark: #26215C;
  --color-primary-light: #EEEDFE;
  --color-primary-accent: #CECBF6;
  --color-secondary: #26215C;
  --font-family-sans: var(--font-inter), sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  color: #1a1a1a;
  background-color: #ffffff;
}
